<div class="app-container">
  <mat-toolbar color="primary">
    <!-- <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button> -->
    <mat-icon>battery_charging_full</mat-icon> Green Button App
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #snav mode="push">
      <mat-nav-list>
        <a mat-list-item href="https://github.com/vincechan/GreenButtonApp">View On Github</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-card>
        <button mat-raised-button (click)="inputFile.click()">Open Your Green Button File</button>
        <input #inputFile type="file" [style.display]="'none'" (change)="parseFile($event)"> or
        <mat-menu #fileMenu="matMenu" [overlapTrigger]="false">
          <a mat-menu-item (click)="parseRemoteFile('assets/sample/15minLP_15Days.xml')"> 15 days 15 min interval </a>
          <a mat-menu-item (click)="parseRemoteFile('assets/sample/1dayLP_45Days.xml')"> 45 days 1 day interval </a>
          <a mat-menu-item (click)="parseRemoteFile('assets/sample/1hrLP_32Days.xml')"> 32 days 1 hour interval </a>
          <a mat-menu-item (click)="parseRemoteFile('assets/sample/pge_1hr_1year.xml')"> PG&E 1 year 1 hour interval </a>
        </mat-menu>
        <button mat-raised-button [matMenuTriggerFor]="fileMenu">
          View Sample Data
        </button>
      </mat-card>
      <mat-card *ngIf="gbfile">
        <mat-button-toggle-group #group="matButtonToggleGroup" (change)="changeChartType($event)">
          <mat-button-toggle value="daily" [checked]="chartType=='daily'">
            Daily
            <mat-icon *ngIf="chartType=='daily'">check_circle</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="hourly" [checked]="chartType=='hourly'">
            Hourly
            <mat-icon *ngIf="chartType=='hourly'">check_circle</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
        <div [chart]="chart"></div>
      </mat-card>
      <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between" id="card-container" *ngIf="gbfile" style="margin-top:20px;">
        <mat-card class="info-card" fxFlex="100" fxFlex.gt-sm="23">
          <header><mat-icon>location_on</mat-icon> Location</header>
          <content>{{ gbfile.location }}</content>
        </mat-card>
        <mat-card class="info-card" fxFlex="100" fxFlex.gt-sm="23">
          <header><mat-icon>date_range</mat-icon>Date Range</header>
          <content>{{ gbfile.startDate | date : "mediumDate" }} - {{ gbfile.endDate | date : "mediumDate" }}</content>
        </mat-card>
        <mat-card class="info-card" fxFlex="100" fxFlex.gt-sm="23" color="primary">
            <header><mat-icon>power</mat-icon>Energy Usage</header>
            <content>
              <p>Total: {{ gbfile.totalUsage | number : '1.0-1' }} {{ gbfile.usageUnit }} </p>
              <p>Avg Per Hour: {{ gbfile.avgUsagePerHour | number: '1.2-2' }} {{ gbfile.usageUnit }}</p>
            </content>
          </mat-card>
        <mat-card class="info-card" fxFlex="100" fxFlex.gt-sm="23">
          <header><mat-icon>attach_money</mat-icon>Cost</header>
          <content>
            <div *ngIf="gbfile.hasCostData">
                <p>Total: {{ gbfile.totalCost | currency }} </p>
                <p>Avg Per Hour: {{ gbfile.avgCostPerHour | currency }} </p>
            </div>
            <div *ngIf="gbfile.hasCostData == false" style="color: red;">
              <mat-icon>error</mat-icon>file does not contain any cost data.
            </div>
          </content>
        </mat-card>
        <mat-card class="info-card" fxFlex="100" fxFlex.gt-sm="23">
            <header>Interval</header>
            <content>{{ gbfile.interval / 60 }} minutes</content>
          </mat-card>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>